* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 1600px;
  background-color: #f5f5f5;
  margin: 0 auto;
}

nav {
  /* background-color: #f5f5f5; */
  max-width: 1280px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav .logo {
  font-size: 30px;
  font-weight: 700;
  color: #0e0e0e;
  margin-left: 160px;
}
nav ul li {
  list-style: none;
  color: #0e0e0e;
}
nav ul li a {
  text-decoration: none;
  border: 1px solid #006a50;
  color: #0e0e0e;
  padding: 15px 20px;
  margin-right: 160px;
  border-radius: 7px;
  transition: all 0.3s ease;
  cursor: pointer;
}

ul li a:hover {
  background-color: #006a50;
  color: #fff;
}

/* banner setion */

.banner {
  max-width: 1280px;
  height: 560px;
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.banner-desc {
  font-size: 24px;
  font-weight: 500;
}

.benner-title {
  font-size: 56px;
  font-weight: 700;
}

.banner-content {
  padding: 100px 80px;
}

.banner-img {
  padding-right: 100px;
}

.btn-banner {
  padding: 20px 30px;
  background-color: #006a50;
  color: #fff;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.btn-banner:hover {
  background-color: #000000;
  color: #fff;
}

/* main section start now */
main {
  width: 1600px;
  background-color: #f5f5f5;
  margin: 0 auto;
}

/* card section */

.card-section {
  max-width: 1280px;
  height: 330px;
  margin: 0 auto;
}

.card-title {
  font-size: 40px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 50px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
  margin-top: 30px;
}

.card-content {
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid gray;
  box-shadow: 0 2px 4px 0;
  padding: 24px;
}

.card-info {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0eb2;
}

.card-description {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0eb2;
}

/* this is (The Vision of Future) section card   */
.vision-card-wrapper {
  width: 1280px;
  height: 770px;
  margin: 0 auto;
  margin-top: 30px;
}

.vision-card-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.vision-desc {
  font-size: 24px;
  font-weight: 400;
  color: #0e0e0eb2;
}

.vision-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.vision-card-content1 {
  padding: 32px;
  background-color: #5490f533;
  border: 1px solid #5490f5;
  border-radius: 16px;
  margin: 32px 0;
}
.vision-card-content2 {
  padding: 32px;
  background-color: #c6e4d6;
  border: 1px solid #09a15c;
  border-radius: 16px;
  margin: 32px 0;
}
.vision-card-content3 {
  padding: 32px;
  background-color: #f7ebcf;
  border: 1px solid #ffc239;
  border-radius: 16px;
  margin: 32px 0;
}

.vision-digital-title {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0ecc;
}

.digital-desc {
  font-size: 16px;
  font-weight: 400;
}

.btn-learn-more1 {
  padding: 20px 30px;
  background-color: #5490f5;
  color: #fff;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 400;
  margin-top: 32px;
}

.btn-learn-more1:hover {
  background-color: #000000;
  color: #fff;
}
.btn-learn-more2 {
  padding: 20px 30px;
  background-color: #006a50;
  color: #fff;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 400;
  margin-top: 32px;
}

.btn-learn-more2:hover {
  background-color: #000000;
  color: #fff;
}
.btn-learn-more3 {
  padding: 20px 30px;
  background-color: #ffc239;
  color: #fff;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-size: 24px;
  font-weight: 400;
  margin-top: 32px;
}

.btn-learn-more3:hover {
  background-color: #000000;
  color: #fff;
}

.vision-description {
  background-color: #ffffff;
  padding: 48px 24px;
  border-radius: 16px;
  border: 1px solid #0e0e0e26;
  background-image: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  /* line-height: 24px ; */
  /* background-position: top-left 10px; */
}

.bd-description {
  font-size: 24px;
  font-weight: 400;
  color: #0e0e0eb2;
  line-height: 24px;
}

.title-name {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0ecc;
  line-height: 24px;
}

.designation {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e99;
  line-height: 24px;
}

/* your opinion sestion  */
.opinion-section {
  width: 1280px;
  height: 600px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  padding: 24px 0;
}
.wrapper-opinion {
  background-color: #ffffff;
  padding: 35px;
  border-radius: 16px;
}

.qusetions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6e4d6;
  padding: 24px;
}

.question-tilte {
  color: #0e0e0e;
  font-size: 20px;
  font-weight: 600;
}

.select-title {
  color: #0e0e0e;
  font-size: 20px;
  font-weight: 600;
}

.option-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #0e0e0e26;
  padding: 24px;
}

select {
  color: #000000;
  /* border: 1px solid #0E0E0E26; */
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500;
  background-color: #c6e4d6;
}

.recent-news-section {
  width: 1280px;
  margin: 0 auto;
 
}

.recent-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  line-height: 100%;
  margin-bottom: 24px;
}

.recent-desc {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0eb2;
  line-height: 100%;
}
